<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <main>
        You can use this APIs to connect to database

        <ol>
            <li>
                <b>User Signup</b>
                <ul>
                    <li>
                        <b>url => </b>/signup
                    </li>
                    <li>
                        <b>params :</b>
                        <ul>
                            <li>
                                name [string]
                            </li>
                            <li>
                                email [email]
                            </li>
                            <li>
                                password [string]
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>returns :</b>
                        <ul>
                            <li>
                                <b>on Success =></b>
                                {
                                    status: true,
                                    message: "user created succesfuly!"
                                }
                            </li>
                            <li>
                                <b>on Fail =></b>
                                {
                                    status: false,
                                    message: "There is a problem!"
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <br>
            <br>
            <li>
                <b>User login</b>
                <ul>
                    <li>
                        <b>url => </b>/login
                    </li>
                    <li>
                        <b>params :</b>
                        <ul>
                            <li>
                                email [email]
                            </li>
                            <li>
                                password [string]
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>returns :</b>
                        <ul>
                            <li>
                                <b>on Success =></b>
                                {
                                    status: true,
                                    user: user
                                }
                            </li>
                            <li>
                                <b>on Fail =></b>
                                {
                                    status: false,
                                    message: "There is a problem!"
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <br>
            <br>
            <li>
                <b>Get User By Id</b>
                <ul>
                    <li>
                        <b>url => </b>/geUser
                    </li>
                    <li>
                        <b>params :</b>
                        <ul>
                            <li>
                                userId [integer]
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>returns :</b>
                        <ul>
                            <li>
                                <b>on Success =></b>
                                { user: user }
                            </li>
                            <li>
                                <b>on Fail =></b>
                                {
                                    status: false,
                                    message: "There is a problem!"
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
<%- include('includes/end.ejs') %>